.container {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 650px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 700px;
    transform: translateY(-50%);
    z-index: -1;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -50px;
    transform: scale(0.7) rotateX(6deg) rotateY(-7.5deg) rotateZ(1deg);
    
    h1 {
        font-weight: 700;
        font-size: 2rem;
        margin: 20px 0;
        height: 1em;
        border-radius: 6px;
        background: rgba(0, 0, 0, 0.15);
    }
    
    .row {
        display: flex;
        gap: 25px;
    }
}
    